<div class="container mt-4 mb-4 bg-light">
    <!-- <h1 class="text-center mt-3">Customer Favorite <span class="highlight">Cars</span> </h1> -->
    <!-- <a routerLink="/menu" class="placeorder">Back</a> -->
    <div class="row">
        <div class="col-lg-6 mt-3" *ngIf="menudata">
            <div class="carbox">
                <img src="{{menudata[0].head}}" />
                <h1>{{menudata[0].carimg}}</h1>
                <p>{{menudata[0].price}}</p>
            </div>
           
        </div>
        