.mb{
    margin-bottom: 80px;
}
.border-blue {
    border-color: #4185af;
    border-width: 5px;
    border-style: solid;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // height: 100%;
  }