
<footer class="footer-distributed">

			<div class="footer-left">

				<a routerLink="/home"><img src="assets/logo.png" alt="Nature" class="responsive" id="img"></a>

				<p class="footer-links">
					<a class="nav-link" routerLink="">Home</a>



					<a class="nav-link" routerLink="/about">About
					  Us</a>
			
			
			
					<a class="nav-link" routerLink="/contact" data-toggle="collapse"
					  data-target="#navbarSupportedContent">Contact</a>
			
			
			
					<a class="nav-link" routerLink="/men">Men</a>
			
			
			
					<a class="nav-link" routerLink="/women">Women</a>
			
			
			
					<a class="nav-link" routerLink="/kids">Kids</a>
				</p>

				<p class="footer-company-name">Muhajir Ibn Anwar © 2022</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="bi bi-geo-alt mt-2 mb-2"></i>
					<p><span>57/A,Ambethkar Nagar</span> Pkt Road, Adirampattinam.</p>
				</div>

				<div>
					<i class="bi bi-phone"></i>
					<p>+91-9626260457</p>
				</div>

				<div>
					<i class="bi bi-envelope" style="margin-left: 20px;"></i>
					<p><a>muhajir@hasnatech.onmicrosoft.com</a></p> 
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					It's a Company is follow shari'ah which means following muhammad (saw). <br>
					Hope you my brothers & sisters pls support our Company.May Great Reward For U!
				</p>

				<div class="footer-icons">

					<a href="#"><i class="bi bi-facebook"></i></a>
					<a href="#"><i class="bi bi-twitter"></i></a>
					<a href="#"><i class="bi bi-linkedin"></i></a>
					<a href="#"><i class="bi bi-github"></i></a>

				</div>

			</div>

		</footer>