body {
    color: #566787;
    background: #f5f5f5;
    font-family: "Open Sans", sans-serif;
}
.contact-form {
    padding: 30px;
    margin: 8px 0;
    min-height: calc(68vh - 101px);
    .btn {
        color: white;
        background-color: #747d89;
        border-radius: 15px;
        border: none;
    }

    .btn:hover {
        color: #f1efef;
        background: rgb(61, 60, 60);
    }
}
.contact-form h1 {
    text-transform: uppercase;
    margin: 0 0 15px;
}
.contact-form .form-control, .contact-form{
    // min-height: 61px;
    border-radius: 10px;
}

.contact-form label {
    opacity: 0.9;
}
.contact-form textarea {
    resize: vertical;
}
.hint-text {
    font-size: 15px;
    padding-bottom: 15px;
    opacity: 0.8;
}
.bs-example {
    margin: 20px;
}