<div class="p-5 bg shadow-lg">
	<div class="pt-5 pb-2 mt-5 top">
		<div>Welcome to IbnAnwaar Online Shop</div>
		<div>This is a <b>Islamic</b> Dresses For Men,Women & Kids</div>
		<div>
			<marquee>Let's Go What You Want</marquee>
		</div>
	</div>
</div>
<div class="container">

	<!--Start code-->
	<!--SECTION START-->
	<section class="row">
		<!--Start slider news-->
		<div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">


			<!--carousel inner-->

			<div class="carousel-inner">
				<!--Item slider-->
				<div class="carousel-item active">
					<div class="card border-0 rounded-0 text-light overflow zoom">
						<div class="position-relative">
							<!--thumbnail img-->
							<div class="ratio_left-cover-1 image-wrapper">

								<img class="img-fluid w-100" src="assets/man/man6.png" alt="Bootstrap news template">

							</div>
						</div>
					</div>
				</div>
				<!--end item slider-->
			</div>
			<!--end carousel inner-->
		</div>


		<!--End slider news-->

		<!--Start box news-->
		<div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
			<div class="row">
				<!--news box-->
				<div class="col-6 pb-1 pt-0 pr-1">
					<div class="card border-0 rounded-0 text-white overflow zoom">
						<div class="position-relative">
							<!--thumbnail img-->
							<div class="ratio_right-cover-2 image-wrapper">

								<img class="img-fluid" src="assets/man/front.jpeg" alt="simple blog template bootstrap">

							</div>
						</div>
					</div>
				</div>

				<!--news box-->
				<div class="col-6 pb-1 pl-1 pt-0">
					<div class="card border-0 rounded-0 text-white overflow zoom">
						<div class="position-relative">
							<!--thumbnail img-->
							<div class="ratio_right-cover-2 image-wrapper">
								<img class="img-fluid" src="assets/women/women3.png" alt="bootstrap templates for blog">

							</div>

						</div>
					</div>
				</div>

				<!--news box-->
				<div class="col-6 pb-1 pr-1 pt-1">
					<div class="card border-0 rounded-0 text-white overflow zoom">
						<div class="position-relative">
							<!--thumbnail img-->
							<div class="ratio_right-cover-2 image-wrapper">

								<img class="img-fluid" src="assets/women/women1.png"
									alt="bootstrap blog wordpress theme">

							</div>

						</div>
					</div>
				</div>

				<!--news box-->
				<div class="col-6 pb-1 pl-1 pt-1">
					<div class="card border-0 rounded-0 text-white overflow zoom">
						<div class="position-relative">
							<!--thumbnail img-->
							<div class="ratio_right-cover-2 image-wrapper">

								<img class="img-fluid" src="assets/kids/kidfront.png"
									alt="blog website templates bootstrap">

							</div>

						</div>
					</div>
				</div>
				<!--end news box-->
			</div>
		</div>
		<!--End box news-->
	</section>
	<!--END SECTION-->
	<!-- <section> -->

	<!--end code-->
</div>


<!--2nd-->
<div class="container-xl">
	<div class="row">
		<div class="col-md-12">
			<h2>Trending<b> Collections</b></h2>
			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="row anim" data-animatetime='0' data-animatefrom="fade-up">
							<div class="col-md-3 zoom" *ngFor="let data of service.maindetails;">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box mt-4">
										<img src="{{data.carimg}}" class="img-fluid" alt="Apple iPad">
									</div>
									<div class="thumb-content">
										<div class="title">{{data.head}}</div>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price" [innerHtml]="data.price"></p>
										<div class="gap mt-3 mb-3">
											<button class="btn btn-secondary btn-sm mb-2" (click)="addToCart(data)"
												data-bs-toggle="modal" data-bs-target="#exampleModal">Add to
												Cart</button>

											<button class="btn btn-secondary btn-sm mb-2" routerLink="/cod">Buy
												Now</button>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<app-modal></app-modal>