<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a routerLink="/home"><img src="assets/logo.png" alt="Nature" class="responsive img"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="desktop collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-link" data-title="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active-link" data-title="About Us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link" data-title="Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/men" routerLinkActive="active-link" data-title="Men">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/women" routerLinkActive="active-link" data-title="Women">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/kids" routerLinkActive="active-link" data-title="kids">Kids</a>
        </li>
      </ul>
    </div>
    <div class="desktop">
      <form class="form-inline logbtn d-flex  ">
        <div class="btn" type="submit" routerLink="/addcart" data-title="Your Cart"><i class="bi bi-cart"></i>
          <div class="badge mt-1">{{totalItem}}</div>
        </div>

        <div class="btn" type="submit" routerLink="/log" (click)="welcome(myname)" data-title="Login">Login</div>
        <div class="btn" type="submit" routerLink="/register" data-title="Register">Register</div>
        <div class="btn" type="submit" routerLink="/track" data-title="Track Ur Order">Track Ur Order</div>
      </form>
    </div>
    <div class="mobile collapse navbar-collapse">
      <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active-link" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" title="Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active-link" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" title="About Us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active-link" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" title="Contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/men" routerLinkActive="active-link" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" title="Men">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/women" routerLinkActive="active-link" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" title="Women">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/kids" routerLinkActive="active-link" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" title="kids">Kids</a>
          </li>
        </ul>
        <form class="form-inline logbtn">
          <div class="btn" type="submit" routerLink="/addcart" title="Your Cart" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"><i class="bi bi-cart"></i>
            <div class="badge mt-1">{{totalItem}}</div>
          </div>

          <div class="btn" type="submit" routerLink="/log" (click)="welcome(myname)" title="Login"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Login</div>
          <div class="btn" type="submit" routerLink="/register" title="Register" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">Register</div>
          <div class="btn" type="submit" routerLink="/track" title="Track Ur Order" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">Track Ur Order</div>
        </form>
      </div>
    </div>

  </div>
</nav>