.br {
    border-radius: 15px;

    .head {
        padding: 5px;
        margin: auto;
        width: 65%;
        background-color: #4185af;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
        color: #fff;
        font-size: 2rem;
        line-height: 1.1;
    }
}

.over {
    border-color: #4185af;
    border-width: 2px;
    border-style: solid;
    background-color: #d1eaef;
    font-size: 14px;
    .card-body {

        img {
            height: 180px;
            width: 135px;
            border-radius: 15px;
            border: 2px solid #2d3f42
        }

        .quan {
            display: flex;
            align-items: end;
            gap: 11px;
            justify-content: center;
            border: none;
            cursor: pointer;
            line-height: 1.1;
            .bt {
                color: white;
                background-color: #4185af;
                border-radius: 7px;
                height: 36px;
                padding: 13px;
                align-items: center;
                display: flex;
            }
    
            .bt:hover {
                color: #4185af;
                background: white;
                border: 1px solid #4185af;
            }
        }
    }

    .place {
        cursor: pointer;

        .add {
            color: white;
            background-color: #4185af;
            border-radius: 15px;
            border: none;
            padding: 8px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;
            line-height: 1.1;
        }

        .add:hover {
            color: #4185af;
            background: white;
            border: 1px solid #4185af;
        }

        .remove {
            color: white;
            background-color: #d11721;
            border-radius: 15px;
            border: none;
            padding: 10px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;
            height: 45px;
        }

        .remove:hover {
            color: #d11721;
            background: white;
            border: 1px solid #d11721;
        }

    }
}


@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}


@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.section-2 {
    .card {
        height: 47.7vh;
        background: #e2eaef;
        text-align: center;
        display: flex;
        justify-content: center;
        border: none;
    }

    .head {
        border: none;
        font-size: 2rem;
        text-align: center;
    }

    .emptycart {
        border-radius: 20px !important;
        width: 230px !important;
        margin-top: 50px;
    }

    .productimg {
        border-radius: 30px !important;
        height: 184px;
        width: 150px;
    }

    .con {
        width: 62%;
    }

    .card-table {
        justify-content: center;
        display: flex;
        background-color: azure;
        border-radius: 150px;
        text-align: center;
    }

    .btn {
        border: none;
    }

    .table td,
    .table th {
        padding: 1.75rem;
        vertical-align: baseline;
        border: none
    }

    .fwrap {
        flex-wrap: wrap;
    }

    .mob {
        justify-content: center;
        display: flex;
        background-color: azure;
        border-radius: 29px;
        text-align: center;
        align-items: center;
        width: 100%;
    }
}