<div class="container p-4 br">
  <ng-container *ngIf="product.length != 0">
    <div class="head">List Of My Carts</div>
    <div class="row d-flex justify-content-center">
      
      <div class="col-md-8">
        <div class="card over mb-4 shadow-lg">
          <div class="card-body" *ngFor="let item of product;let i = index">
            <!-- Single item -->
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 d-flex justify-content-center">
                <!-- Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded">
                  <img src="{{item.carimg}}">
                  <a href="#!">
                    <div class="mask"></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6">
                <!-- Data -->

                <div class="d-flex justify-content-center text-center">
                  <div class="">
                    <p><strong>{{item.head}}</strong></p>
                    <p>Color: blue</p>
                    <p>Size: M</p>
                    <div class=""></div>
                  </div>

                </div>

                <!-- <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                    (click)="removeitem(item)" title="Remove item">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                    title="Move to the wish list">
                    <i class="fas fa-heart"></i>
                  </button>
                </div> -->

                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="quan">
                  <div class="btn" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                  </div>

                  <div class="form-outline">
                    <label class="form-label" for="form1">Quantity</label>
                    <input id="form1" min="0" name="quantity" value="1" type="number"
                      class="form-control text-center" />
                  </div>

                  <div class="btn" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                  </div>


                </div>
                <!-- Quantity -->
                <!-- Price -->
                <div class="text-center mt-2">
                  <p [innerHTML]="item.price"></p>
                </div>
                <div class="d-flex gap-3 justify-content-center place">
                  <div class="add">Place Your Order</div>
                  <div class="remove" (click)="removeitem(item)">Remove</div>
                </div>
                <!-- Price -->
              </div>
            </div>
            <hr class="my-2">

          </div>

        </div>
        <div class="btn m-auto" routerLink="/home">Add More</div>
      </div>
    </div>
  </ng-container>
</div>




<div class="section-2 pt-2 pb-5">
  <ng-container *ngIf="product.length == 0">
    <div class="container">

      <div class="card mt-3">
        <div class="head"><b>My Cart</b> </div>
        <div class="">
          <img src="assets/addcart.png" class="emptycart flex wrap">
          <h3 class="mt-2">Your Cart is Empty</h3>
          <h4>Add into item Now!</h4>
          <div class="btn m-auto" routerLink="/home">Shop Now</div>
        </div>
      </div>


    </div>
  </ng-container>
</div>